<div class="firstView">
    <h3 class="title my-3">Questioner</h3>
    <p>%(cnt)s</p>
    <div class="question px-3 py-2 font-weight-bold">Q.それって%(question)s？</div>
    <form action="" name="questionForm" id="questionForm" method="POST">
        <button type="submit" name="yes" value="1" class="AjaxSend hovergray btn shadow-sm border pointer d-block mx-3 my-4 w-10">はい</button>
        <button type="submit" name="no" value="0" class="AjaxSend hovergray btn shadow-sm border pointer d-block mx-3 my-4 w-10">いいえ</div>
        <button type="submit" name="not" value="2" class="AjaxSend hovergray btn shadow-sm border pointer d-block mx-3 my-4 w-10">どちらでもない</div>
    </form>
</div>


<script type="module">
import * as idx from "./Views/Assets/js/index.js";
idx.ParamSet("a");
</script>

